#map-container{
  width: 80%;
  height: 100vh;
  left: 5%;
  position: absolute;
  border: 1px solid black;
}

#legend {
  padding-left: 10px;
}

.center {
  text-align: center;
}

.description {
  font-size: 12px;
  color: #B14AED;
  padding: 0;
}

.heading {
  height: 25%;
  border: 1px solid black;
  border-bottom: none;
  padding: 0px 5px 0px 5px;
  text-align: center;
  overflow: auto;
}

.info-window {
  text-align: center;
  overflow: hidden;
}

.marked-list {
  position: relative;
  width: 20vw;
  height: 75vh;
  top: 5vh;
  left: 75vw;
  right: -50px;
  background-color: white;
}

.outer-container {
  height: 100vh;
  padding-bottom: 20px;
}

.paw-print-marked {
  height: 30px;
  width: auto;
  padding: 10px;
}

.remove-button {
  color: #B14AED;
  opacity: 0.5;
  font-size:  12px;
  padding: 0;
  border: none;
  background: none;
}

.remove-button:hover {
  font-size: 14px;
  opacity: 1;
}

.scroll {
  height: 75%;
  overflow: auto;
  border: 1px solid black;
  border-top: none;
  background: white;
  padding: 3px;
}

.search-bar {
  margin-top: 10px;
  border: 1px solid #B14AED;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 47px;
  padding-left: 10px;
  width: 20vw;
  outline: none;
  font-size: 13px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.tag-line {
  position: relative;
  top: -15px;
}

body {
  font-family: 'Lato', sans-serif;
}

button {
  border: 1px solid #390080;
  background-color: white;
  color: black;
  font-size: 12px;
}

button:focus {
  outline: 0;
}

button:hover {
  font-size: 13px;
}

ul {
  padding-left: 5px;
  list-style-type: none;
}
